/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Container Styling */
  .container {
    padding: 20px;
  }
  
  /* Under Construction Section */
  .under-construction {
    animation: downToUp 1s ease-out;
  }
  
  /* Construction Icon */
  .construction-icon {
    font-size: 80px;
    color: #6C63FF;
    margin-bottom: 20px;
  }
  
  /* Headings */
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #000000;
  }
  
  p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #000000;
  }
  
 /* Button */
 .btn {
    display: inline-block;
    background: #6C63FF;
    color: #fff;
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    border: 2px solid #6C63FF;
    box-shadow: 0 4px 20px rgba(108, 99, 255, 0.5);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(45deg, #6C63FF, #3F2B96);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }
  
  .btn:hover {
    background: #ffffff;
    color: #6C63FF;
    border: 2px solid #6C63FF;
    box-shadow: 0 4px 20px rgba(108, 99, 255, 0.5);
    transform: translateY(-3px);
    transition: all 0.3s ease;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* background: linear-gradient(45deg, #6C63FF, #3F2B96); */
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }
  
  /* Down to Up Animation */
  @keyframes downToUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }